# yaml-language-server: $schema=https://json.schemastore.org/clangd.json

CompileFlags:
  CompilationDatabase: .

Style:
  FullyQualifiedNamespaces:
    - std

InlayHints:
  Enabled: true
  BlockEnd: true
  Designators: true
  ParameterNames: true
  DeducedTypes: true
  DefaultArguments: true
  TypeNameLimit: 24

Hover:
  ShowAKA: false

# fast check related warnings: https://github.com/clangd/clangd/issues/1727
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
  ClangTidy:
    FastCheckFilter: None

Completion:
  AllScopes: true
  ArgumentLists: FullPlaceholders
  HeaderInsertion: Never
  CodePatterns: All

---
# Ignore packages that installed by vcpkg
If:
  PathMatch: (out|build|vendor).*
Diagnostics:
  Suppress: '*'
  UnusedIncludes: None
  MissingIncludes: None
